@import url(./variables.css);

/* Reset from bootstrap */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
  font-family: var(--ff-pr);
  background-color: var(--clr-pr-pale-blue);
  display: flex;

}

.background {
    width: 100%;
    height: 460px;
    object-fit:cover;
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-container {
    position: relative;
    z-index: 1; 
    background-color: var(--clr-nt-white);
    display: grid;
    gap: 4rem;
    width: 100%;
    padding: 1rem;
}

@media (max-width: 426px) {
    .background {
        height: 320px;
    }
}




/* Form */
.form-title {
    font-size: clamp(1.1rem, 2.5vw, 1.6rem);
}
.form-container {
    margin-top: 3rem;
    display: grid;
    background: white;
    border-radius: 2rem;
    text-align: center;
    max-width: 450px;
    width: 100%;
    margin-inline: auto;
}

.form-container img {
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

}

.form-container form {
    display: grid;
    gap: 1rem;
    margin: 1rem 2rem 2rem 2rem;
}

.form-container form h1 {
    font-weight: 900;
    padding: 0;
    margin: 0.5rem;
}

@media (max-width: 426px) {
    .form-container form {
        margin: 1rem 1rem 2rem 1rem;
    }
}

.form-container button {
    background-color: var(--clr-pr-bright-blue);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 8px 8px 2px var(--clr-pr-pale-blue);
}

.form-container button:hover {
    background-color: var(--clr-snd-dark-blue);
}

.form-container input,
.form-container select {
    padding: 0.5rem;
    border: 1px solid var(--clr-snd-desaturated-blue);
    border-radius: 0.5rem;
}




/* Song table */
.table-container {
    overflow-x: auto;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 3rem;
}

table {
    background: white;
    border-collapse: collapse;
    border-radius: 2rem;
    margin-inline: auto;
    max-width: 600px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 8px 8px 2px var(--clr-pr-pale-blue);
    padding: 1rem;
   
}

.table-header {
    background-color: var(--clr-pr-bright-blue);
    color: white;
    font-weight: 700;
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
    text-align: center;
}

@media (max-width: 426px) {
    .table-header {
        text-align: left;
    }
}

table th, table td {
    padding: 0.5rem 1rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

table tr {
    padding: 0 1rem;
}

table button {
    border: none;
    padding: 0rem;
    margin: 0rem;
}

table button i {
    color: var(--clr-snd-dark-blue);
    font-size: 1.5rem;
    cursor: pointer;
}

table td input {
    border: none;
    text-align: center;
}

table td input:focus {
    outline: none;
}

table tr.editing td input{
    border: 1px solid var(--clr-snd-dark-blue);
    border-radius: 1rem;
}

/* Table buttons */

.fa-square-pen{
    color: var(--clr-btn-edit);
}

.fa-square-check {
    color: var(--clr-btn-save);
}

.fa-square-minus {
    color: var(--clr-btn-delete);
}

/* Table buttons focus */
.fa-square-pen:hover {
    color: var(--clr-btn-edit-hover);
    font-size: 1.6rem;
}

.fa-square-check:hover {
    color: var(--clr-btn-save-hover);
    font-size: 1.6rem;
}

.fa-square-minus:hover {
    color: var(--clr-btn-delete-hover);
    font-size: 1.6rem;
}
